.tooltip {
    font-family: "Poppins";
    position: absolute;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background: var(--gray);
    border: 1px solid var(--l-gray);
    border-radius: 8px;
    font-weight: 500;
    color: var(--light);
    font-size: 16px;
    white-space: nowrap;
    transition: ease-out 150ms;
    z-index: 3;
    cursor: default;

    &:hover {
        background: var(--gray2);
    }

    small {
        color: #ffffff80;
        margin-left: 10px;
    }

    // Positions
    &.left {
        right: 100%;
        margin-right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.right {
        left: 100%;
        margin-left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.top {
        top: -100%;
        margin-top: -10px;
    }
    &.bottom {
        bottom: -100%;
        margin-bottom: -10px;
    }
}