#sidebar {
    position: relative;
    display: flex;
    z-index: 3;

    > .left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 20px 0;
        height: 100dvh;
        width: 70px;
        background: var(--gray2);
        z-index: 2;
        box-shadow: inset 2px 0 10px 2px #00000020;

        .logo img {
            height: 50px;
        }

        .settings {
            display: flex;
            flex-direction: column;
            gap: 40px;

            button, a {
                position: relative;
                height: 30px;

                svg {
                    font-size: 30px;
                    transition: 200ms;
                    cursor: pointer;
    
                    &:hover {
                        fill: rgb(182, 182, 182);
                    }
                }
            }
        }
    }

    > .right {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        width: 400px;
        background: var(--gray);
        box-shadow: 2px 0 10px 2px #00000020;

        .top {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px 15px 0 15px;
    
            .search-bar {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                background: var(--l-gray);
                padding: 7px 10px;
                border-radius: 12px;
    
                input {
                    width: 100%;
                    padding: 0 10px;
                    background: transparent;
                    font-size: 16px;
    
                    &::placeholder {
                        color: rgb(184, 184, 184);
                    }
                }
    
                svg {
                    width: 20px;
                    color: rgb(184, 184, 184);
                }
            }
    
            .tags {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
    
                > div {
                    padding: 7px 14px;
                    background: var(--l-gray);
                    color: var(--light);
                    border-radius: 50px;
                    transition: 100ms;
                    cursor: pointer;
    
                    &:hover {
                        background: rgba(255, 255, 255, .26);
                    }
    
                    &.active {
                        background: rgba(127, 77, 253, 0.3);
                        color: rgb(174, 123, 255);
    
                        &:hover {
                            background: rgba(110, 56, 247, 0.4);
                        }
                    }
                }
            }
        }
    
        .rooms {
            flex: 1;
            overflow-y: auto;

            .no-room {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 10px;
                color: var(--l-gray);
                font-size: 17px;
            }

            .room {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 15px;
                transition: 200ms;

                &:hover {
                    background: rgba(255, 255, 255, .1);
                }

                &.current {
                    background: rgba(255, 255, 255, 0.064);
                    cursor: default;
                }

                &-info {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h5 {
                        font-size: 17px;
                        font-weight: 600;
                        color: var(--light);
                    }

                    p {
                        font-size: 15px;
                        color: rgba(255, 255, 255, .6);
                        font-weight: 300;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 300px;

                        span {
                            color: var(--l-gray);
                        }
                    }
                }
            }

            &::-webkit-scrollbar-track {
                background: var(--gray);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--gray2);
            }
            &::-webkit-scrollbar-thumb:hover {
                background: rgb(33, 31, 35);
            }
            
        }
    
        .add {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            background: var(--gray2);
            color: #ffffff90;
            font-size: 18px;
            transition: 250ms;
            cursor: pointer;
    
            &:hover {
                background: rgb(36, 34, 37);
                color: rgb(182, 182, 182);
            }
    
            svg {
                font-size: 30px;
            }
        }
    }
}