#root {
    display: flex;

    #main-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        main {
            height: calc(100dvh - 70px);
            width: 100%;
        }
    }
}