@import "../../styles/mixins";

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/images/background.svg");
    border-radius: 100px;
    padding: 40px;

    img {
        width: 40%;
        margin-top: -30px;
        margin-bottom: 50px;

        @include W(1330px) {
            width: 70%;
        }
    }

    h1 {
        font-size: 65px;
        text-align: center;
        -webkit-text-fill-color: #0000;
        background: -webkit-linear-gradient(270deg, rgb(229, 152, 245) 20%, var(--second));
        -webkit-background-clip: text;
        background-clip: text;
    }

    p {
        font-family: "Poppins";
        color: var(--light);
        text-align: center;
        font-size: 19px;
        margin-top: 5px;
    }
}